[Desktop Entry]
Version=1.0
Type=Application
Name=Qosmic
GenericName=Flam3 Fractal Editor
GenericName[ru]=Редактор фракталов Flam3
GenericName[cs]=Editor fraktálů Flam3
Comment=A cosmic recursive flame fractal editor written in Qt
Comment[ru]=Рекурсивный фрактальный редактор
Comment[cs]=Světový rekurzivní plamenný fraktálový editor napsaný v Qt
Exec=qosmic
Icon=qosmicicon
Terminal=false
Categories=Qt;KDE;Graphics;
